<link rel="stylesheet" type="text/css"
	href="__TEMP__/{$style}/public/css/components.css">
<div class="app-field clearfix">
	<div class="control-group">
		<div class="custom-store block-item">
			<a class="custom-store-link clearfix" href="APP_MAIN">
				<div class="custom-store-img"></div>
				<div class="custom-store-name">{$shopname}</div>
				<div class="custom-store-enter">进入店铺</div>
			</a>
		</div>
		<div class="component-border"></div>
	</div>
	<div class="sort">
		<i class="sort-handler"></i>
	</div>
</div>
<!-- <hr class="with-margin-l" />
<div class="app-field clearfix">
	<div class="control-group">
		<div class="custom-store block-item">
			<a class="custom-store-link clearfix" href="javascript:;">
				<div class="offline-store-img"></div>
				<div class="custom-store-name">线下门店</div>
			</a>
		</div>
		<div class="component-border"></div>
	</div>
	<div class="sort">
		<i class="sort-handler"></i>
	</div>
</div>-->
<hr class="with-margin-l" /> 