<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$title}</title>
<link rel="shortcut  icon" type="image/x-icon" href="__TEMP__/{$style}/public/images/favicon.ico" media="screen"/>
<!--可共用-->
<link type="text/css" rel="stylesheet" href="__TEMP__/{$style}/public/css/ns_common.css">
<link type="text/css" rel="stylesheet" href="__TEMP__/{$style}/public/css/ns_color_style.css">
<link type="text/css" rel="stylesheet" href="__TEMP__/{$style}/public/css/iconfont.css">
<link type="text/css" rel="stylesheet" href="__TEMP__/{$style}/public/css/ns_bottom.css">
<link rel="stylesheet" href="__TEMP__/{$style}/public/css/layer.css" id="layuicss-skinlayercss">
<script type="text/javascript" src="__TEMP__/{$style}/public/js/jquery.js"></script>
<script type="text/javascript">
	var shop_main='SHOP_MAIN';//外置JS调用
	var app_main='APP_MAIN';//外置JS调用
	var upload = "__UPLOAD__";//外置JS调用
	$(function(){
		//一级菜单选中	
		$('#nav li>a').removeClass('current');
		var path_info='{$path_info}';
		if(path_info==''){
			$("#nav li>a[href^='SHOP_MAIN/index/index']").addClass('current');
		}else{
			$("#nav li>a[href^='SHOP_MAIN/{$path_info}']").addClass('current');
		}
	})
	
	window.onload=function(){
		$.footer();
	}
</script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/ns_cart.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/common.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/ns_components.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/jquery.fly.min.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/layer.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/jquery.method.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/nav.js"></script>
<script type="text/javascript" src="__TEMP__/{$style}/public/js/jquery.cookie.js"></script>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>

<!--继承base可重写-->
{block name="main_resources"}


{/block}
<!-- 右侧购物车 -->
{block name="resources"}
<!-- 添加css、字体文件文件 -->
{/block}
</head>
<body>
<!-- 头部广告 -->
{block name="headAd"}
{/block}

<!-- 公共的顶部（部分界面不用，例如，商家入驻） -->
{block name="commonTop"}
	{include file='shop/b2c/controlTop'/}
{/block}

<!-- 头部，菜单栏、搜索、导航栏 -->
{block name="head"}
	{include file='shop/b2c/controlHeadSerach'/}
{/block}

<!--头部商品分类 start-->
{block name="headGoodType"}
	{include file='shop/b2c/controlHeadGoodType'/}
{/block}
<!--头部商品分类 end-->

<!-- 右侧固定购物车 -->
{block name="RightSideBar"}
	{include file='shop/b2c/controlRightSidebar'/}
{/block}
<!-- 内容 -->
{block name="main"}{/block}

<!-- 底部 -->
{block name="bottom"}
{include file='shop/b2c/controlBottomLinkHelp'/}
{include file='shop/b2c/controlBottom'/}
{/block}

{block name="javascript"}
<!-- 添加js文件 -->
{/block}

{if condition="$uid eq ''"}
	{include file='shop/b2c/controlLogin'/}
{/if}

{include file='shop/b2c/baidu_js_push'/}
</body>
</html>