<!--
	创建时间：2017年2月7日 12:13:09
	功能描述： 底部、公司信息 
-->
<div class="dsc-copyright">
	<div class="w w1200">
		<p class="copyright_links">
			<a href="#">地址&nbsp;:&nbsp;山西省太原市小店区并州南路6号1幢（鼎太风华）A座2单元21层2102号 </a>
		</p>
		<p class="copyright_info">
			<a href="#">Copyright © 2015-2017 NiuTeam 版权所有 保留一切权利
				备案号:晋ICP备16001360号-2</a>
		</p>
		<b><a href="http://www.niushop.com.cn" target="_blank"
			class="copyright-logo">山西牛酷信息科技有限公司&nbsp;&nbsp;提供技术支持</a></b>
		<p>&nbsp;</p>
		<p class="copyright_auth">&nbsp;</p>
	</div>
</div>
